---
import { getUserResumeSection } from "../../../services/apiService";
import { type BasicResume } from "../../../Schemas/basicSchema";
import { type apiResultType } from "../../../types/apiTypes";
import "../../../styles/globals.css";

import Section from "@/components/templates/midudev/Section.astro";
import Works from "@/components/templates/midudev/Sections/Works.astro";
import Education from "@/components/templates/midudev/Sections/Education.astro";
import Header from "@/components/templates/midudev/Sections/Header.astro";
import Projects from "@/components/templates/midudev/Sections/Projects.astro";
import Skills from "@/components/templates/midudev/Sections/Skills.astro";

import { ModeToggle } from "@/components/ModeToggle";

const { title } = Astro.props;

const { user } = Astro.params;

const result: apiResultType<BasicResume[]> =
  await getUserResumeSection<BasicResume>("basic", Number(user));
if (!result || !result.data) {
  return Astro.redirect("/");
}
const basic = result.data[0];
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{basic.name}</title>
    <meta name="description" content={basic.summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="preload" as="image" href={basic.image} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta property="og:url" content={basic.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={basic.summary} />
    <meta property="og:image" content="" />
  </head>
  <body>
    <main>
      <div class="absolute top-5 right-5 no-print">
        <ModeToggle client:load />
      </div>
      <Header basic={basic} />
      <Section title="Sobre mí">
        <p>{basic.summary}</p>
      </Section>
      <Works userId={user} />
      <Education userId={user} />
      <Projects userId={user} />
      <Skills userId={user} />
    </main>
  </body>
</html>

<style is:global>
  @tailwind base;

  :root {
    --text-primary: #111;
    --text-secondary: #666;
    --text-third: #222;
    --span-background: #eee;
    --span-background-darked: #ddd;
    --span-color: #444;
    --box-shadow: #f2f2f2;
  }

  :is(.dark body) {
    --text-primary: #eee;
    --text-secondary: #ddd;
    --text-third: #aaa;
    --span-background: #333;
    --span-background-darked: #444;
    --span-color: #ddd;
    --box-shadow: #222;
  }

  html {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      "Courier New",
      Courier,
      monospace;
    background: #fff;
    letter-spacing: -0.025rem;
  }

  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
  body,
  figure {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  p {
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }

  .print {
    display: none !important;
  }

  @media print {
    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }

    astro-dev-toolbar {
      display: none !important;
    }

    article {
      break-inside: avoid;
    }
  }

  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
