---
import Section from "@/components/templates/midudev/Section.astro";
import { getUserResumeSection } from "@/services/apiService";
import { type Work } from "@/Schemas/workSchema";
import { type apiResultType } from "@/types/apiTypes";
import FromToDate from "@/components/templates/midudev/FromToDate.astro";
import { type Option } from "@/components/ui/multiple-selector";

const { userId } = Astro.props;

const result: apiResultType<Work[]> = await getUserResumeSection<Work>(
  "work",
  Number(userId),
);

const { success, data: work } = result;
---

<Section title="Experiencia laboral">
  <ul>
    {
      work &&
        work.map(
          ({
            name,
            startDate,
            endDate,
            position,
            summary,
            highlights,
            location,
            url,
          }) => {
            const highlightsArray: Option[] = JSON.parse(highlights || "");

            return (
              <li>
                <article>
                  <header>
                    <div>
                      <h3>
                        <a href={url} title={`Ver ${name}`} target="_blank">
                          {name}
                        </a>
                      </h3>
                      <h4>
                        {position} - {location}
                      </h4>
                    </div>

                    <FromToDate startDate={startDate} endDate={endDate} />
                  </header>

                  <footer>
                    <p>{summary}</p>
                    <div class="higlights">
                      {highlightsArray &&
                        highlightsArray.length !== 0 &&
                        highlightsArray.map((highlight) => {
                          return <span>{highlight.value}</span>;
                        })}
                    </div>
                  </footer>
                </article>
              </li>
            );
          },
        )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: #222;
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  footer .higlights {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
  }

  footer .higlights span {
    border-radius: 6px;
    background: #eee;
    color: #444;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
