---
import Section from "@/components/templates/midudev/Section.astro";
import { getUserResumeSection } from "@/services/apiService";
import { type WorkResume } from "@/Schemas/workSchema";
import { type apiResultType } from "@/types/apiTypes";
import FromToDate from "@/components/templates/midudev/FromToDate.astro";

const { userId } = Astro.props;

const result: apiResultType<WorkResume[]> =
  await getUserResumeSection<WorkResume>("work", Number(userId));

const { success, data: work } = result;
---

<Section title="Experiencia laboral">
  <ul>
    {
      work &&
        work
          .sort((a, b) => {
            if (a.endDate && !b.endDate) {
              return 1; // b > a
            }
            if (!a.endDate && b.endDate) {
              return -1; // a > b
            }
            return b.startDate.localeCompare(a.startDate);
          })
          .map(
            ({
              name,
              startDate,
              endDate,
              position,
              summary,
              highlights,
              location,
              url,
            }) => {
              return (
                <li>
                  <article>
                    <header>
                      <div>
                        <h3>
                          <a href={url} title={`Ver ${name}`} target="_blank">
                            {name}
                          </a>
                        </h3>
                        <h4>
                          {position} - {location}
                        </h4>
                      </div>

                      <FromToDate startDate={startDate} endDate={endDate} />
                    </header>

                    <footer>
                      <p>{summary}</p>
                      <div class="higlights">
                        {highlights &&
                          highlights.length !== 0 &&
                          highlights.map((highlight) => {
                            return <span>{highlight}</span>;
                          })}
                      </div>
                    </footer>
                  </article>
                </li>
              );
            },
          )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: var(--text-primary);
  }

  article a {
    color: var(--text-primary);
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: var(--text-third);
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  footer .higlights {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 0.6rem;
    margin-top: 6px;
  }

  footer .higlights span {
    border-radius: 6px;
    background: var(--span-background);
    color: var(--span-color);
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
