---
import NavTop from "@/components/NavTop.astro";
import { ToastContainer, Bounce } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <nav>
    <NavTop />
  </nav>
  <body>
    <slot />
    <ToastContainer
      client:load
      position="bottom-right"
      autoClose={2000}
      hideProgressBar={false}
      newestOnTop={false}
      closeOnClick
      rtl={false}
      pauseOnFocusLoss
      draggable
      pauseOnHover
      theme="dark"
    />
  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }

    html {
      font-family: "Motomangucode", system-ui, sans-serif;
      background: #13151a;
      color: #f1f0e1;
      margin-left: 10px;
      margin-right: 10px;
    }

    ToastContainer {
      color-scheme: light dark;
      --toastify-color-light: @apply bg-gray-50;
      --toastify-color-dark: #13151a;
      --toastify-color-info: @apply bg-blue-500;
      --toastify-color-success: rgb(59 130 246);
      --toastify-color-warning: @apply bg-blue-500;
      --toastify-color-error: @apply bg-blue-500;
      --toastify-color-transparent: rgba(255, 255, 255, 0.7);

      --toastify-icon-color-info: var(--toastify-color-info);
      --toastify-icon-color-success: var(--toastify-color-success);
      --toastify-icon-color-warning: var(--toastify-color-warning);
      --toastify-icon-color-error: var(--toastify-color-error);

      --toastify-toast-width: 320px;
      --toastify-toast-background: @apply bg-gray-50;
      --toastify-toast-min-height: 64px;
      --toastify-toast-max-height: 800px;
      --toastify-font-family: "Motomangucode";
      --toastify-z-index: 9999;

      --toastify-text-color-light: @apply bg-blue-950;
      --toastify-text-color-dark: @apply bg-gray-50;

      --toastify-text-color-info: @apply bg-gray-50;
      --toastify-text-color-success: @apply bg-gray-50;
      --toastify-text-color-warning: @apply bg-gray-50;
      --toastify-text-color-error: @apply bg-gray-50;

      --toastify-spinner-color: @apply bg-blue-500;
      --toastify-spinner-color-empty-area: @apply bg-gray-50;

      --toastify-color-progress-light: linear-gradient(
        to right,
        #4cd964,
        #5ac8fa,
        #007aff,
        #34aadc,
        #5856d6,
        #ff2d55
      );

      --toastify-color-progress-dark: #bb86fc;
      --toastify-color-progress-info: var(--toastify-color-info);
      --toastify-color-progress-success: var(--toastify-color-success);
      --toastify-color-progress-warning: var(--toastify-color-warning);
      --toastify-color-progress-error: var(--toastify-color-error);

      --toastify-color-progress-bgo: 0.2;
    }
    @font-face {
      font-family: "Motomangucode";
      src: url("/fonts/Motomangucode.woff2") format("woff2");
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: "Motomangucode";
      src: url("/fonts/MotomangucodeBold.woff2") format("woff2");
      font-weight: 700;
      font-style: normal;
      font-display: swap;
    }
  </style>
</html>
