---
import NavTop from "@/components/NavTop.astro";
import { ToastContainer, Bounce } from "react-toastify";
import "react-toastify/dist/ReactToastify.css";
import { ViewTransitions } from "astro:transitions";
import "@/styles/globals.css";

interface Props {
  title: string;
}
const year = new Date(Date.now()).getFullYear();

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="/src/scripts/theme.js" is:inline></script>
    <ViewTransitions />
  </head>
  <nav>
    <NavTop />
  </nav>
  <body>
    <div class="min-h-[75vh]">
      <slot />
    </div>
    <ToastContainer
      className="layout-toast"
      client:load
      position="bottom-right"
      autoClose={2000}
      hideProgressBar={false}
      newestOnTop={false}
      closeOnClick
      rtl={false}
      pauseOnFocusLoss
      draggable
      pauseOnHover
      theme="dark"
    />
  </body>
  <footer>
    <p
      class="mt-20 border-t-2 border-dashed py-5 text-end border-gray-200 dark:border-gray-700 text-xs max-w-[800px] mx-auto"
    >
      @ {year} - Creado por Fran Espina 👌
    </p>
  </footer>
</html>
