---
import { SignUpModal } from "./SignUpModal";
import { ItemListNav } from "@/components/ItemListNav.tsx";
import { Logout } from "@/components/Logout";
import { SignInModal } from "@/components/SignInModal";
import "../styles/globals.css";
import { ModeToggle } from "@/components/ModeToggle";
---

<section
  class="flex flex-row justify-between items-center h-14- min-h-14 gap-1 mx-5"
>
  <div class="">
    <ul class="flex flex-row text-xs">
      <li class="text-sm md:text-xl mt-2">
        <span class="text-blue-500">d</span>f<span
          class="text-blue-500 rotate-90 block">D</span
        >
      </li>
    </ul>
  </div>

  <div class="">
    <ul class="flex flex-row gap-3">
      <ItemListNav hoverStyled={true} authRequired={true} client:load>
        <a class="uppercase" href="/curriculum/">Perfil</a>
      </ItemListNav>
      <ItemListNav hoverStyled={true} authRequired={true} client:load>
        <a class="uppercase" href="/recursos/">Recursos</a>
      </ItemListNav>
    </ul>
  </div>

  <div class="">
    <ul class="flex flex-row gap-3 items-center">
      <ItemListNav client:load hideLogged={true}>
        <SignUpModal client:load />
      </ItemListNav>
      <ItemListNav client:load hideLogged={true}>
        <SignInModal text="Iniciar" client:load />
      </ItemListNav>
      <Logout client:load authRequired={true}>Cerrar Sesión</Logout>
      <ModeToggle client:load />
    </ul>
  </div>
</section>
